<div class="jumbotron">
  <div class="container-fluid">
    <h1>Auditoriums</h1>
  </div>
</div>
<div class="container-fluid">
  <h2>Movies grouped by Auditorium</h2>
  <ul class="list-group"></ul>
  <% @auditoria.each do |aud| %> 
    <li class="list-group-item">Name: <%= aud.name %> </li>
    <li class="list-group-item">Capacity: <%= aud.capacity %></li>
    <li class="list-group-item"><a href="/auditoriums/<%=aud.id%>/movies">View Movies</a></li>
    <li class="list-group-item"></li>
     <% end %> 
  </ul>
 
</div>
