<div class="jumbotron">
  <div class="container-fluid">
      <h1>Upcoming Movies</h1>
    </div>
</div>
<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item"><h3>Movies</h3></li>
    <% @titles.each do |title| %>
      <li class="list-group-item"><a href="/movies/<%=title%>/showtimes"><%= title %></a> </li>
    <% end %> 
  </ul>
</div>